
---
import MainGridLayout from "@layouts/MainGridLayout.astro";
import content from "./html/test.html?raw";
---
<MainGridLayout title="测试工具" hideSideBar={true}>
  <div slot="top" class="mb-6">
    <h1 class="text-2xl font-bold">测试工具</h1>
  </div>
  <Fragment set:html={content} />
</MainGridLayout>